{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row" data-testid="app-heading">
    <div class="govuk-grid-column-two-thirds">
      {{ appHeading(heading) }}

      <p class="govuk-body">
        <a class="govuk-link" href="{{link.href}}">{{link.text}}</a>
      </p>
    </div>
  </div>
{% endblock %}
