{% extends 'layouts/page.njk' %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{
          govukErrorSummary({
            titleText: error.title,
            errorList: [
              {
                text: error.message,
                href: "#isPermitYes"
              }
            ]
          })
        }}
      {% endif %}
      <form action="{{ action.url }}" method="POST">
        {# <span class="govuk-caption-xl" data-testid="app-heading-organisation-name">{{ heading.organisationName }}</span> #}
        {{
          govukRadios({
            name: "isPermit",
            fieldset: {
              legend: {
                html: appHeading(heading),
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: error,
            items: questions
          })
        }}
        {{
          govukButton({
            text: action.text,
            type: "submit"
          })
        }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-card govuk-card--contained">
        <div class="govuk-card__content govuk-!-margin-bottom-4">

          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            Service charge:
          </h3>
          <p class="govuk-body govuk-!-margin-top-1">
            <strong class="govuk-tag govuk-tag--yellow">Unpaid</strong>
          </p>
          <p class="govuk-body govuk-!-padding-top-2">
            The charge is not due until October 2026 but will cost £26 per year for each waste receiver on your account.
          </p>
          <p class="govuk-body">
            You will need a debit or credit card to make your payment online.
          </p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
