services:
  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack:z'
      - './compose/start-localstack.sh:/etc/localstack/init/ready.d/01-start-localstack.sh:z'
    healthcheck:
      test: ["CMD", "stat", "/tmp/READY"]
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - ./mongodb-data:/data:z
    restart: always

  cdp-defra-id-stub:
    image: defradigital/cdp-defra-id-stub:latest
    ports:
      - '3200:3200'
      - '3000:3000' # waste-organisation-frontend port passthrough for networking
      - '7337:7337'
    depends_on:
      redis:
        condition: service_started
    environment:
      PORT: 3200
      NODE_ENV: development
      REDIS_HOST: redis
      SESSION_CACHE_ENGINE: redis
      USE_SINGLE_INSTANCE_CACHE: true
      APP_BASE_URL: http://localhost:3200
    networks:
      - cdp-tenant

  cdp-uploader:
    image: defradigital/cdp-uploader:latest
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      VIRTUAL_HOST: ~^uploader\..*\.sslip\.io
      VIRTUAL_PATH: /
      VIRTUAL_PORT: 7337
      PORT: 7337
      NODE_ENV: development
      REDIS_HOST: redis
      USE_SINGLE_INSTANCE_CACHE: true
      MOCK_VIRUS_SCAN_ENABLED: true
      MOCK_VIRUS_RESULT_DELAY: 3
      SQS_ENDPOINT: http://localstack:4566
      S3_ENDPOINT: http://localstack:4566
    network_mode: 'service:cdp-defra-id-stub'  # used to allow localhost to cdp-defra-id-stub
    # networks:
    #   - cdp-tenant


################################################################################

  waste-organisation-frontend:
    build:
      context: .
      target: development
    volumes:
      - ./package.json:/home/node/package.json:z
      - ./package-lock.json:/home/node/package-lock.json:z
      - ./src:/home/node/src:z
      - ./node_modules:/home/node/node_modules:z
      - ./webpack.config.js:/home/node/webpack.config.js:z
      - ./postcss.config.js:/home/node/postcss.config.js:z
      - ./postcss.config.js:/home/node/postcss.config.js:z
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
      cdp-defra-id-stub:
        condition: service_started
      waste-organisation-backend:
        condition: service_started
      cdp-uploader:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3000
      NODE_ENV: development
      REDIS_HOST: redis
      LOCALSTACK_ENDPOINT: http://localstack:4566
      USE_SINGLE_INSTANCE_CACHE: true
      SESSION_CACHE_ENGINE: redis
      AUTH_DEFRA_ID_OIDC_CONFIGURATION_URL: 'http://localhost:3200/cdp-defra-id-stub/.well-known/openid-configuration'
      BACKEND_API: http://waste-organisation-backend:3001
      FILE_UPLOAD_SERVICE_URL: http://localhost:7337
      BACKEND_API_PRESHARED_KEY: test
    network_mode: 'service:cdp-defra-id-stub'  # used to allow localhost to cdp-defra-id-stub

  waste-organisation-backend:
    build:
      context: ../waste-organisation-backend
      target: development
    ports:
      - '3001:3001'
    volumes:
      - ../waste-organisation-backend:/home/node/:z
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
      mongodb:
        condition: service_started
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3001
      NODE_ENV: development
      MONGO_URI: mongodb://mongodb:27017/
      WASTE_CLIENT_AUTH_TEST: test
      S3_ENDPOINT: http://localstack:4566
      AWS_S3_FORCE_PATH_STYLE: true
    networks:
      - cdp-tenant

################################################################################

networks:
  cdp-tenant:
    driver: bridge
