<div class="govuk-grid-row" data-testid="app-heading">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"
        data-testid="app-heading-title">{{ params.text }}</h1>

    {% if params.caption %}
      <p class="govuk-body"
            data-testid="app-heading-caption">{{ params.caption }}</p>
    {% endif %}
  </div>
</div>
