{% extends 'layouts/page.njk' %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p class="govuk-body">{{ body }}</p>
      <p class="govuk-body">{{ signOutInstruction }}</p>
      <p class="govuk-body">{{ registerInstruction }}</p>
      <p class="govuk-body">
        <a class="govuk-link" href="{{ signOutUrl }}">{{ signOutLinkText }}</a>
      </p>
    </div>
  </div>
{% endblock %}
