{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement for Report receipt of waste</h1>

      <p class="govuk-body">
        This accessibility statement applies to the Report receipt of waste service at
        <a class="govuk-link" href="https://waste-tracking.defra.gov.uk/">https://waste-tracking.defra.gov.uk/</a>.
      </p>

      <p class="govuk-body">
        This website is run by the Department for Environment, Food and Rural Affairs (Defra). We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver) </li>
      </ul>

      <p class="govuk-body">
        We have also made the website text as simple as possible to understand.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>

      <p class="govuk-body">
        We know some parts of this website are not fully accessible. For example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>users cannot turn off, adjust or extend their session time</li>
        <li>some users may not be able to understand the structure and relationship of the information that is not in a table format</li>
        <li>some of the links have insufficient colour contrast</li>
      </ul>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you are not happy with how we respond to your complaint,
        <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">
        Defra is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">Compliance status</h2>

      <p class="govuk-body">
        This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2</a> AA standard due to the non-compliances below.
      </p>

      <h2 class="govuk-heading-m">Non-accessible content</h2>

      <p class="govuk-body">
        The content listed below is non-accessible for the following reasons.
      </p>

      <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Users are not given the opportunity to extend their session before it expires. This fails WCAG 2.2 success criterion 2.2.1 (Time Adjustable). </li>
        <li>The information in the spreadsheet and the table of contents is not in table format, meaning assistive technology may not be able to determine the structure and relationship of the data. This fails WCAG 2.2 success criterion 1.3.1 (Info and Relationships).</li>
        <li>The spreadsheet does not have a title which means some users may not be able to identify the subject or purpose of the document. This fails WCAG 2.2 success criterion 2.4.2 (Page Titles).</li>
        <li>Some links on the spreadsheet have insufficient colour contrast. This fails WCAG 2.2 success criterion 1.4.3 Contrast (Minimum).</li>
      </ol>

      <h2 class="govuk-heading-m">What we are doing to improve accessibility</h2>

      <p class="govuk-body">
        We are working on solutions that will:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>allow users to turn off, adjust or extend the time of their session</li>
        <li>ensure users can understand the structure and relationship of table content by implementing a table format that includes descriptive headers</li>
        <li>help users identify the subject or purpose of a document by adding headers</li>
        <li>improve contrast between text and the background in accordance with WCAG 2.2 recommendations </li>
      </ul>

      <p class="govuk-body">
        We aim to fix these issues by the end of December 2026.
      </p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        The accessibility audit for Defra’s Report Receipt of Waste service was carried out by the Digital Accessibility Centre (DAC) user/technical team on 2 April 2026. The service was assessed against the Web Content Accessibility Guidelines WCAG 2.2.
      </p>

      <h2 class="govuk-heading-m">Feedback and contact information </h2>

      <p class="govuk-body">
        Contact us if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>find any problems not listed on this page</li>
        <li>think we are not meeting accessibility requirements</li>
        <li>need information on this website in a different format such as accessible PDF, large print, easy read, audio recording or braille</li>
      </ul>

      <p class="govuk-body">
        Telephone: 03000 203 781
      </p>

      <p class="govuk-body">
        Monday to Friday, 8am to 5pm (except public holidays)
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>.
      </p>

    </div>
  </div>
{% endblock %}
