{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Datganiad hygyrchedd ar gyfer Rhoi gwybod am dderbyn gwastraff</h1>

      <p class="govuk-body">
        Mae'r datganiad hygyrchedd hwn yn berthnasol i'r gwasanaeth Rhoi gwybod am dderbyn gwastraff yn
        <a class="govuk-link" href="https://waste-tracking.defra.gov.uk/">https://waste-tracking.defra.gov.uk/</a>.
      </p>

      <p class="govuk-body">
        Mae'r wefan hon yn cael ei rhedeg gan Adran yr Amgylchedd, Bwyd a Materion Gwledig (Defra). Rydym eisiau i gymaint o bobl â phosibl allu defnyddio'r wefan hon. Er enghraifft, mae hynny'n golygu y dylech allu gwneud y canlynol:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>newid lliwiau, lefelau cyferbyniad a ffontiau gan ddefnyddio gosodiadau'r porwr neu'r ddyfais</li>
        <li>chwyddo i mewn hyd at 400% a bod y testun i gyd yn dal i ffitio ar y sgrin</li>
        <li>symud o gwmpas y rhan fwyaf o'r wefan gan ddefnyddio bysellfwrdd neu feddalwedd adnabod llais</li>
        <li>gwrando ar y rhan fwyaf o'r wefan gan ddefnyddio darllenydd sgrin (gan gynnwys y fersiynau mwyaf diweddar o JAWS, NVDA a VoiceOver)</li>
      </ul>

      <p class="govuk-body">
        Rydym hefyd wedi sicrhau bod testun y wefan mor syml â phosibl i'w ddeall.
      </p>

      <p class="govuk-body">
        Mae cyngor ar sut i wneud eich dyfais yn haws i'w defnyddio os oes gennych chi anabledd ar gael ar <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>.
      </p>

      <h2 class="govuk-heading-m">Pa mor hygyrch yw'r wefan hon</h2>

      <p class="govuk-body">
        Rydyn ni'n ymwybodol nad yw rhannau o'r wefan hon yn gwbl hygyrch. Er enghraifft:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>dydy defnyddwyr ddim yn gallu diffodd, addasu nac ymestyn amser eu sesiwn</li>
        <li>efallai na fydd rhai defnyddwyr yn gallu deall strwythur a pherthynas yr wybodaeth nad yw ar ffurf tabl</li>
        <li>nid oes digon o gyferbyniad lliw ar rai o'r dolenni</li>
      </ul>

      <h2 class="govuk-heading-m">Gweithdrefn gorfodi</h2>

      <p class="govuk-body">
        Y Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) sy'n gyfrifol am weithredu Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau ac Apiau Symudol) (Rhif 2) 2018 (y ‘rheoliadau hygyrchedd'). Os ydych chi'n anhapus â'r ffordd rydyn ni'n ymateb i'ch cwyn, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">cysylltwch â'r Gwasanaeth Cynghori a Chefnogi Cydraddoldeb (EASS)</a>.
      </p>

      <h2 class="govuk-heading-m">Gwybodaeth dechnegol am hygyrchedd y wefan hon</h2>

      <p class="govuk-body">
        Mae Defra wedi ymrwymo i sicrhau bod ei wefan yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau ac Apiau Symudol) (Rhif 2) 2018.
      </p>

      <h2 class="govuk-heading-m">Statws cydymffurfedd</h2>

      <p class="govuk-body">
        Mae'r wefan hon yn cydymffurfio'n rhannol â safon Lefel AA Canllawiau <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">Hygyrchedd Cynnwys y We Fersiwn 2.2</a>, o ganlyniad i'r materion isod sydd ddim yn cydymffurfio.
      </p>

      <h2 class="govuk-heading-m">Cynnwys anhygyrch</h2>

      <p class="govuk-body">
        Mae'r cynnwys sy'n cael ei restru isod yn anhygyrch am y rhesymau canlynol.
      </p>

      <h2 class="govuk-heading-m">Diffyg cydymffurfiad â rheoliadau hygyrchedd</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Nid yw defnyddwyr yn cael y cyfle i ymestyn eu sesiwn cyn iddi ddod i ben. Mae hyn yn methu maen prawf 2.2.1 WCAG 2.2 (Modd Addasu'r Amser).</li>
        <li>Nid yw'r wybodaeth yn y daenlen a'r tabl cynnwys ar ffurf tabl, sy'n golygu efallai na fydd technoleg gynorthwyol yn gallu pennu strwythur a pherthynas y data. Mae hyn yn methu maen prawf 1.3.1 WCAG 2.2 (Gwybodaeth a Pherthnasoedd).</li>
        <li>Nid oes gan y daenlen deitl sy'n golygu efallai na fydd rhai defnyddwyr yn gallu adnabod pwnc neu bwrpas y ddogfen. Mae hyn yn methu maen prawf 2.4.2 WCAG 2.2 (Teitlau Tudalennau).</li>
        <li>Nid oes digon o gyferbyniad lliw ar rai o'r dolenni sydd ar y daenlen. Mae hyn yn methu maen prawf 1. 4.3 WCAG 2.2 (Lleiafswm).</li>
      </ol>

      <h2 class="govuk-heading-m">Beth rydyn ni'n ei wneud i wella hygyrchedd</h2>

      <p class="govuk-body">
        Rydyn ni'n gweithio ar atebion a fydd yn:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>galluogi defnyddwyr i ddiffodd, addasu neu ymestyn amser eu sesiwn</li>
        <li>sicrhau bod defnyddwyr yn gallu deall strwythur a pherthynas cynnwys tabl drwy weithredu fformat tabl sy'n cynnwys penynnau disgrifiadol</li>
        <li>helpu defnyddwyr i adnabod pwnc neu ddiben dogfen drwy ychwanegu penynnau</li>
        <li>gwella'r cyferbyniad rhwng y testun a'r cefndir yn unol ag argymhellion WCAG 2.2</li>
      </ul>

      <p class="govuk-body">
        Ein nod yw datrys y materion hyn erbyn diwedd mis Rhagfyr 2026.
      </p>

      <h2 class="govuk-heading-m">Paratoi'r datganiad hygyrchedd hwn</h2>

      <p class="govuk-body">
        Cynhaliwyd yr archwiliad hygyrchedd ar gyfer gwasanaeth Rhoi gwybod am dderbyn gwastraff Defra gan dîm defnyddwyr/technegol y Ganolfan Hygyrchedd Digidol (DAC) ar 2 Ebrill 2026. Aseswyd y gwasanaeth yn erbyn Canllawiau Hygyrchedd Cynnwys y We WCAG 2.2.
      </p>

      <h2 class="govuk-heading-m">Gwybodaeth gyswllt ac adborth</h2>

      <p class="govuk-body">
        Cysylltwch â ni os:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>rydych chi’n dod ar draws unrhyw broblemau sydd heb eu rhestru ar y dudalen hon</li>
        <li>rydych chi’n credu nad ydym yn bodloni gofynion hygyrchedd</li>
        <li>oes arnoch angen gwybodaeth ar y wefan hon mewn fformat gwahanol, fel PDF hygyrch, print bras, fformat hawdd ei ddeall, recordiad sain neu braille</li>
      </ul>

      <p class="govuk-body">
        Ffôn: 03000 203 781
      </p>

      <p class="govuk-body">
        Dydd Llun i ddydd Gwener, 8am tan 5pm (ac eithrio gwyliau cyhoeddus)
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Gwybodaeth am gostau galwadau.</a>.
      </p>

    </div>
  </div>
{% endblock %}
