{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Telerau</h1>
      <p class="govuk-body">Drwy ddefnyddio'r gwasanaeth hwn, rydych chi'n cadarnhau'r canlynol:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>eich bod wedi'ch awdurdodi i weithredu ar ran eich sefydliad</li>
        <li>bod yr wybodaeth rydych chi wedi'i rhoi yn gyflawn ac yn gywir</li>
        <li>eich bod yn deall cyfrifoldeb cyfreithiol eich sefydliad i ddarparu'r wybodaeth hon</li>
        <li>eich bod yn deall y gall rhoi gwybodaeth ffug neu gamarweiniol fod yn drosedd</li>
      </ul>
    </div>
  </div>
{% endblock %}