{% extends 'layouts/page.njk' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "heading/macro.njk" import appHeading %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set headingHtml %}
{{ appHeading(heading) }}
<p class="govuk-body govuk-!-margin-top-3 "
            data-testid="app-heading-caption">If you agree this code <strong>{{apiCode}}</strong> will no longer work.</p>

{{ govukWarningText({
  text: "You will not be able to use this code to send any new waste movements.",
  iconFallbackText: "Warning",
  classes: 'govuk-!-margin-bottom-2'
}) }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{
          govukErrorSummary({
            titleText: error.title,
            errorList: [
              {
                text: error.message,
                href: error.href
              }
            ]
          })
        }}
      {% endif %}
      <form action="{{ action.url }}" method="POST">
        {{
          govukRadios({
            name: "disable",
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                html: headingHtml,
                classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-0"
              }
            },
            errorMessage: error,
            items: questions
          })
        }}
        {{
          govukButton({
            text: action.text,
            type: "submit",
            attributes: {
              "data-testid": "uk-disable-submit-button"
            }
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
