{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Hysbysiad preifatrwydd</h1>

      <p class="govuk-body">
        Mae'r hysbysiad preifatrwydd hwn yn egluro sut rydyn ni'n casglu ac yn rheoli'ch data personol pan fyddwch yn defnyddio'r gwasanaeth Rhoi Gwybod am Dderbyn Gwastraff.  
      </p>

      <p class="govuk-body">
        Os ydych chi'n darparu gwybodaeth inni am bobl eraill, rhaid ichi roi gwybod iddynt bod gwybodaeth amdanynt yn cael ei rhannu â ni a'u cyfeirio at yr hysbysiad preifatrwydd hwn.  
      </p>

      <h2 class="govuk-heading-m">Pwy sy'n casglu'ch data personol  </h2>

      <p class="govuk-body">
        Mae'r 4 rheoleiddiwr amgylcheddol yn y Deyrnas Unedig yn gyd reolyddion ar gyfer y data personol rydyn ni'n ei brosesu yn y System Tracio Gwastraff yn Ddigidol, a hynny o dan Reoliad Cyffredinol y Deyrnas Unedig ar Ddiogelu Data (GDPR y DU) a Deddf Diogelu Data 2018 (Deddf 2018).  
      </p>

      <p class="govuk-body">
        Mae rheoleiddwyr amgylcheddol y Deyrnas Unedig yn rheolyddion ar wahân sy'n defnyddio data personol at y dibenion canlynol:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>monitro a gwella cydymffurfedd â deddfwriaeth amgylcheddol</li>
        <li>gorfodi'r gyfraith</li>
      </ul>

      <p class="govuk-body">
        Y rheoleiddwyr amgylcheddol yw:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Asiantaeth yr Amgylchedd</li>
        <li>Cyfoeth Naturiol Cymru</li>
        <li>Yr Adran Amaethyddiaeth, yr Amgylchedd a Materion Gwledig (DAERA)</li>
        <li>Asiantaeth Diogelu Amgylchedd yr Alban</li>
      </ul>

      <h2 class="govuk-heading-m">Prosesydd</h2>

      <p class="govuk-body">
        Adran yr Amgylchedd, Bwyd a Materion Gwledig (Defra) a'u cyflenwyr masnachol yw prosesydd y data personol a gesglir drwy'r System Tracio Gwastraff yn Ddigidol.
      </p>

      <h2 class="govuk-heading-m">Pa ddata personol ydym ni'n ei brosesu</h2>

      <p class="govuk-body">
        Efallai y byddwn ni'n casglu:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>eich enw</li>
        <li>cyfeiriad</li>
        <li>manylion cyswllt</li>
        <li>rhifau cofrestru cerbydau</li>
      </ul>

      <p class="govuk-body">
        Ar gyfer unigolion, unig fasnachwyr a phartneriaethau anghorfforedig, gall data personol gynnwys gwybodaeth am symudiadau gwastraff sy'n cynnwys unigolion.
      </p>

      <p class="govuk-body">
        Yn Lloegr, ni fyddwn yn casglu data personol am unigolion sy'n dod â gwastraff cartrefi i safle a ddarperir gan awdurdod gwaredu gwastraff er mwyn i breswylwyr lleol waredu gwastraff cartrefi am ddim.  
      </p>

      <p class="govuk-body">
        Yng Nghymru, ni fyddwn yn casglu data personol preswylwyr awdurdod sy'n dod â gwastraff cartrefi i safle a ddarperir gan awdurdod gwaredu gwastraff na phan fydd unrhyw berson arall yn dod â gwastraff wedi'i reoli i'r safle hwnnw.  
      </p>

      <p class="govuk-body">
        Yng Ngogledd Iwerddon, ni fyddwn yn casglu data personol ar gyfer gwaredu gwastraff wedi'i reoli ar safle awdurdodedig a ddarperir gan Gyngor Dosbarth.  
      </p>

      <p class="govuk-body">
        Yn yr Alban, ni fyddwn yn casglu data personol at ddibenion tracio gwastraff yn ddigidol pan fydd gwastraff yn cael ei gludo i safle a ddarperir gan awdurdod gwaredu gwastraff i waredu gwastraff cyn ei drosglwyddo i le wedi'i ddarparu i waredu neu ailgylchu'r gwastraff.  
      </p>

      <p class="govuk-body">
        Mae'r data personol yn rhan o'r gofynion gwybodaeth rheoleiddiol er mwyn inni allu deall pwy sydd wedi cynhyrchu, symud, trin neu waredu'r gwastraff.  
      </p>

      <h2 class="govuk-heading-m">Sut rydyn ni'n cael eich data personol</h2>

      <p class="govuk-body">
        Rydyn ni'n cael eich data personol pan gaiff ei gyflwyno i'r system Tracio Gwastraff yn Ddigidol:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>yn uniongyrchol gennych chi</li>
        <li>gan dderbynyddion gwastraff cofrestredig</li>
      </ul>

      <h2 class="govuk-heading-m">Pam fyddwn efallai'n prosesu'ch data personol</h2>

      <p class="govuk-body">
        Ein pwrpas ar gyfer prosesu'ch data personol yw cefnogi'r paratoadau ar gyfer sefydlu system newydd ar gyfer tracio gwastraff yn ddigidol. Bydd y system hon yn galluogi sefydliadau i roi gwybod am symudiadau gwastraff yn ddigidol.
      </p>

      <p class="govuk-body">
        Y sail gyfreithlon rydyn ni'n dibynnu arni i brosesu'ch data personol yw erthygl 6(1)(e) o GDPR y DU, sy'n rhoi caniatâd inni brosesu data personol pan fydd hyn yn angenrheidiol ar gyfer tasg a gyflawnir er budd y cyhoedd neu sydd wedi'i nodi yn y gyfraith.  
      </p>

      <p class="govuk-body">
        Mae'r gwaith prosesu yn seiliedig ar y canlynol:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Rheoliadau Tracio Gwastraff yn Ddigidol (Cymru) 2026</li>
        <li>Rheoliadau Tracio Gwastraff yn Ddigidol (Yr Alban) 2026</li>
        <li>Deddf Diogelu'r Amgylchedd 1990 fel y'i diwygiwyd gan adran 58 Deddf yr Amgylchedd 2021</li>
        <li>Gorchymyn Tir Gwastraff a Halogedig (Gogledd Iwerddon) 1997, fel y'i diwygiwyd gan adran 59 Deddf yr Amgylchedd 2021</li>
        <li>Deddf Dehongli 1978 sy'n galluogi'r Ysgrifennydd Gwladol dros yr Amgylchedd, Bwyd a Materion Gwledig a'r rheoleiddwyr i arfer pwerau rhagddyfalus mewn perthynas â deddfwriaeth nad yw eto mewn grym</li>
        <li>Mae'r Ysgrifennydd Gwladol dros yr Amgylchedd, Bwyd a Materion Gwledig yn datblygu ac yn profi gwasanaeth digidol gwirfoddol wrth arfer pwerau gweithredol cyfraith gyffredin</li>
      </ul>

      <p class="govuk-body">
        Mae er budd y cyhoedd i Reoleiddwyr Amgylcheddol y Deyrnas Unedig gefnogi'r gwaith o baratoi'r system newydd hon i helpu busnesau gyda'r newidiadau sydd ar y gweill i ddeddfwriaeth, a fydd yn cynnwys rheoliadau Tracio Gwastraff yn Ddigidol ar gyfer Lloegr a Gogledd Iwerddon, a helpu i hwyluso'r broses o drosglwyddo'n ddidrafferth i system rhoi gwybod am symudiadau adroddiadau gwastraff digidol.  
      </p>

      <h2 class="govuk-heading-m">Sut rydyn ni'n defnyddio'ch data personol</h2>

      <p class="govuk-body">
        Yn ystod cyfnod gwirfoddol y fersiwn beta gyhoeddus o'r system, byddwn ni'n defnyddio'r data rydyn ni'n ei gasglu yn y system Tracio Gwastraff yn Ddigidol i wneud y canlynol:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>darparu gwelededd a gwybodaeth am ba ddata sy'n dod i law, a sut y gallem ei defnyddio</li>
        <li>rhoi adborth i Defra a'u cyflenwyr masnachol, ar welliannau posibl i'r system,ansawdd y data, pa mor ddefnyddiol ydyw at ddibenion rheoleiddio ac unrhyw welliannau yr hoffem eu gweld</li>
      </ul>

      <p class="govuk-body">
        Gall rheoleiddwyr amgylcheddol y Deyrnas Unedig ddefnyddio'r wybodaeth fel rheolyddion ar wahân i wneud y canlynol:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>monitro a gwella cydymffurfedd â deddfwriaeth amgylcheddol</li>
        <li>at ddibenion gorfodi'r gyfraith</li>
      </ul>

      <p class="govuk-body">
        Ni fyddwn ar unrhyw adeg yn defnyddio gwybodaeth a gasglwn yn ystod cyfnod gwirfoddol y fersiwn beta gyhoeddus at ddibenion rheoleiddio a gorfodi rheoliadau Tracio Gwastraff yn Ddigidol.  
      </p>

      <p class="govuk-body">
        Os oes gennych drwydded amgylcheddol gyda rheoleiddiwr amgylcheddol y Deyrnas Unedig, byddant yn rhoi hysbysiad preifatrwydd ichi yn egluro sut byddant yn defnyddio data personol. Gall hyn gynnwys data personol sydd wedi'i gadw yn y system Tracio Gwastraff yn Ddigidol.  
      </p>

      <p class="govuk-body">
        Efallai y byddwn ni'n defnyddio gwybodaeth sydd wedi'i uwchlwytho i'r system i gysylltu â chi am yr wybodaeth a ddarperir.
      </p>

      <h2 class="govuk-heading-m">Gyda phwy ydyn ni'n rhannu'ch data personol</h2>

      <p class="govuk-body">
        Efallai y byddwn ni'n rhannu'ch data personol â Defra a'u cyflenwyr masnachol fel Proseswyr ac Is-Broseswyr os yw hyn yn angenrheidiol er mwyn cyflawni'r canlynol:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>nodi gwelliannau posibl i'r system a'u rhoi ar waith</li>
        <li>asesu ansawdd y data, a'i ddefnyddioldeb at ddibenion polisi rheoleiddio a rheoleiddio</li>
        <li>rhoi gwybod i Defra am unrhyw welliannau yr hoffem eu gweld i'r system</li>
        <li>profi a datblygu'r system</li>
        <li>rhoi gwybod am allbynnau o'r system</li>
      </ul>

      <p class="govuk-body">
        Efallai y byddwn ni'n rhannu'ch enw, eich cyfeiriad a gwybodaeth am symud gwastraff gyda Defra a'u cyflenwyr masnachol fel rheolyddion ar wahân os bydd angen, er mwyn gwneud y canlynol:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>galluogi Defra i asesu ansawdd y data, a pha mor ddefnyddiol ydyw at eu dibenion rheoleiddio a pholisi</li>
        <li>galluogi Defra i brofi a datblygu'r system a'i hallbynnau ymhellach at eu dibenion rheoleiddio a pholisi</li>
      </ul>

      <p class="govuk-body">
        Rydyn ni'n rhoi eich enw, eich cyfeiriad, eich cyfeiriad e-bost a'ch rhif ffôn symudol i GOV.UK Notify er mwyn iddyn nhw allu anfon negeseuon e-bost, llythyrau a negeseuon testun atoch chi ar ein rhan.  
      </p>

      <p class="govuk-body">
        Ni fyddwn yn rhannu nac yn datgelu'ch data personol i unrhyw barti arall heb eich caniatâd oni bai fod y gyfraith yn mynnu neu'n caniatáu inni wneud hynny.  
      </p>

      <p class="govuk-body">
        Nid ydym yn defnyddio'ch gwybodaeth bersonol i wneud penderfyniad awtomataidd nac ar gyfer proffilio awtomataidd.  
      </p>

      <h2 class="govuk-heading-m">Am ba mor hir rydyn ni'n cadw'ch data personol?</h2>

      <p class="govuk-body">
        Byddwn ni'n cadw'ch data personol yn y system Tracio Gwastraff yn Ddigidol am 7 mlynedd o'r adeg y caiff ei uwchlwytho oni bai bod yr wybodaeth:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>yn cael ei ddefnyddio gan reoleiddiwr amgylcheddol y Deyrnas Unedig fel rheolydd ar wahân</li>
        <li>yn ymwneud â symudiadau gwastraff sy'n dod i ben yng Ngogledd Iwerddon</li>
      </ul>

      <p class="govuk-body">
        Os bydd gwybodaeth yn cael ei defnyddio gan reoleiddiwr amgylcheddol yn y Deyrnas Unedig fel rheolydd ar wahân, bydd y rheoleiddiwr yn egluro yn ei hysbysiad preifatrwydd perthnasol am ba hyd y bydd yn cadw'ch data personol.  
      </p>

      <p class="govuk-body">
        Os yw'r wybodaeth yn gysylltiedig â symudiadau gwastraff sy'n dod i ben yng Ngogledd Iwerddon, byddwn ni'n ei chadw am 15 mlynedd o'r adeg y caiff ei huwchlwytho.  
      </p>

      <p class="govuk-body">
        Rydyn ni'n defnyddio system Hunaniaeth Cwsmer Defra ar gyfer cofrestru a rheoli cyfrifon. Mae <a class="govuk-link" href="https://your-account.defra.gov.uk/management/privacy-notice">hysbysiad preifatrwydd Hunaniaeth Cwsmer Defra</a> yn egluro sut byddant yn defnyddio'ch data personol pan fyddwch yn cofrestru.  
      </p>

      <p class="govuk-body">
        Os byddwch chi'n cyflwyno cofnodion drwy ddefnyddio'r opsiwn cyflwyno amgen (taenlen), byddwn ni'n cadw copi o'r daenlen am 6 mis.  
      </p>

      <h2 class="govuk-heading-m">Ble mae eich gwybodaeth bersonol yn cael ei phrosesu a'i storio</h2>

      <p class="govuk-body">
        Dim ond i wlad arall yr ystyrir ei bod yn unol â'r gyfraith diogelu data y byddwn ni'n trosglwyddo'ch data personol.  
      </p>

      <h2 class="govuk-heading-m">Manylion Cyswllt</h2>

      <p class="govuk-body">
        Mae gan bob rheoleiddiwr siarter gwybodaeth bersonol neu hysbysiad preifatrwydd ar wahân sy'n egluro'r canlynol:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>sut mae cysylltu â'n Swyddogion Diogelu Data Prifysgol</li>
        <li>beth rydyn ni'n ei wneud â'ch gwybodaeth bersonol (data personol) yn gyffredinol</li>
        <li>eich hawliau, a sut i gwyno i Swyddfa'r Comisiynydd Gwybodaeth</li>
        <li>sut rydyn ni'n prosesu data personol at ddibenion gorfodi'r gyfraith</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Asiantaeth yr Amgylchedd
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">Siarter gwybodaeth bersonol</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Cyfoeth Naturiol Cymru
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://naturalresources.wales/footer-links/privacy-notice/?lang=en">Cyfoeth Naturiol Cymru / Hysbysiad Preifatrwydd</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Yr Adran Amaethyddiaeth, yr Amgylchedd a Materion Gwledig
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.daera-ni.gov.uk/articles/daera-privacy-statement">DAERA Datganiad Preifatrwydd | Yr Adran Amaethyddiaeth, yr Amgylchedd a Materion Gwledig</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Asiantaeth Diogelu Amgylchedd yr Alban
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://beta.sepa.scot/about-sepa/how-we-work/privacy-notice/">Asiantaeth Diogelu Amgylchedd yr Alban - Hysbysiad Preifatrwydd</a>
      </p>

      <h2 class="govuk-heading-m">Newidiadau i'r hysbysiad hwn</h2>

      <p class="govuk-body">
        Mae'n bosibl y byddwn ni'n newid yr hysbysiad preifatrwydd hwn. Os felly, bydd y dyddiad 'diweddariad diwethaf' ar waelod y dudalen hon hefyd yn newid. Bydd unrhyw newidiadau i'r polisi preifatrwydd hwn yn berthnasol i chi a'ch data ar unwaith.  
      </p>

      <p class="govuk-body">
        Os bydd y newidiadau hyn yn effeithio ar sut mae eich data personol yn cael ei brosesu, byddwn ni'n cymryd camau rhesymol i roi gwybod ichi.  
      </p>
    </div>
  </div>
{% endblock %}