{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Privacy notice</h1>

      <p class="govuk-body">
        This privacy notice explains how we collect and manage your personal data when you use the Report receipt of waste service.
      </p>

      <p class="govuk-body">
        If you are providing information to us about other people, you must make them aware that their information is being shared with us and refer them to this privacy notice.
      </p>

      <h2 class="govuk-heading-m">Who collects your personal data</h2>

      <p class="govuk-body">
        The 4 UK environmental regulators are joint controllers, under the UK General Data Protection Regulation (UK GDPR) and Data Protection Act 2018 (DPA 2018), for the personal data we process in the Digital Waste Tracking System.
      </p>

      <p class="govuk-body">
        The UK environmental regulators are separate controllers that use personal data:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to monitor and improve compliance with environmental legislation</li>
        <li>for law enforcement purposes</li>
      </ul>

      <p class="govuk-body">
        The environmental regulators are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Environment Agency</li>
        <li>Natural Resources Wales</li>
        <li>The Department for Agriculture, Environment and Rural Affairs (DAERA)</li>
        <li>Scottish Environment Protection Agency</li>
      </ul>

      <h2 class="govuk-heading-m">Processor</h2>

      <p class="govuk-body">
        Department for Environment, Food and Rural Affairs (Defra) and their commercial suppliers act as the processor for the personal data collected through the Digital Waste Tracking System.
      </p>

      <h2 class="govuk-heading-m">What personal data we process</h2>

      <p class="govuk-body">
        We may collect:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>addresses</li>
        <li>contact details</li>
        <li>vehicle registrations</li>
      </ul>

      <p class="govuk-body">
        For individuals, sole traders and unincorporated partnerships, personal data can include information about the movements of waste which involves individuals.
      </p>

      <p class="govuk-body">
        In England we will not collect personal data of individuals who bring household waste to a site provided by a waste disposal authority for the free deposit of household waste by local residents.
      </p>

      <p class="govuk-body">
        In Wales we will not collect personal data of residents of an authority who bring household waste to a site provided by a waste disposal authority or when any other person brings controlled waste to that site.
      </p>

      <p class="govuk-body">
        In Northern Ireland we will not collect personal data for the deposit of controlled waste at an authorised site provided by a District Council.
      </p>

      <p class="govuk-body">
        In Scotland we will not collect personal data for digital waste tracking purposes where waste is brought to a site provided by a waste disposal authority for the deposit of waste prior to transfer to a place provided to dispose of or recycle the waste.
      </p>

      <p class="govuk-body">
        The personal data forms part of the regulatory information requirements so we can understand who has produced, moved, treated or disposed of the waste.
      </p>

      <h2 class="govuk-heading-m">How we obtain your personal data</h2>

      <p class="govuk-body">
        We obtain your personal data when it is submitted to the Digital Waste Tracking system:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>directly from you</li>
        <li>from permitted waste receivers</li>
      </ul>

      <h2 class="govuk-heading-m">Why we may process your personal data</h2>

      <p class="govuk-body">
        Our purpose for processing your personal data is to support preparations for the establishment of a new digital waste tracking system. This system will enable the digital reporting of waste movements.
      </p>

      <p class="govuk-body">
        The lawful basis we rely on to process your personal data is article 6(1)(e) of the UK GDPR, which allows us to process personal data when this is necessary for the performance of a task set out in law and carried out in the public interest.
      </p>

      <p class="govuk-body">
        The processing has a basis in:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>The Digital Waste Tracking (Wales) Regulations 2026</li>
        <li>The Digital Waste Tracking (Scotland) Regulations 2026</li>
        <li>The Environmental Protection Act 1990 as amended by section 58 of the Environment Act 2021</li>
        <li>The Waste and Contaminated Land (Northern Ireland) Order 1997, as amended by section 59 of the Environment Act 2021</li>
        <li>The Interpretation Act 1978 allowing the Secretary of State for Environment, Food and Rural Affairs and the regulators to exercise anticipatory powers, in relation to legislation that is not yet in force</li>
        <li>The Secretary of State for Environment, Food and Rural Affairs undertakes the development and testing of a voluntary digital service in the exercise of common-law executive powers</li>
      </ul>

      <p class="govuk-body">
        It is in the public interest for the UK Environmental Regulators to support preparations of this new system to assist businesses with the upcoming changes to legislation, which will include Digital Waste Tracking regulations for each of England and Northern Ireland, and help facilitate a smooth transition to digital waste reporting.
      </p>

      <h2 class="govuk-heading-m">How we use your personal data</h2>

      <p class="govuk-body">
        During the public beta voluntary period, we will use data we collect in the Digital Waste Tracking system:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to provide visibility and insight about what data we will receive and how we might use it</li>
        <li>to provide feedback to Defra and their commercial suppliers, on potential system improvements, quality of the data, its usefulness for regulatory purposes and any improvements that we would like to see</li>
      </ul>

      <p class="govuk-body">
        The UK environmental regulators may use the information as separate controllers:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to monitor and improve compliance with environmental legislation</li>
        <li>for law enforcement purposes</li>
      </ul>

      <p class="govuk-body">
        We will not at any time use information we collect during the public beta voluntary period for the purpose of regulation and enforcement of Digital Waste Tracking regulations.
      </p>

      <p class="govuk-body">
        If you hold an environmental licence or permit with a UK environmental regulator, they will provide you with a privacy notice explaining how they will use personal data. This may include personal data held in the Digital Waste Tracking system.
      </p>

      <p class="govuk-body">
        We may use information uploaded to the system to contact you about the information provided.
      </p>

      <h2 class="govuk-heading-m">Who we share your personal data with</h2>

      <p class="govuk-body">
        We may share your personal data with Defra and their commercial suppliers as Processors and Sub-Processors if this is necessary to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>identify and implement potential system improvements</li>
        <li>assess quality of the data, and its usefulness for regulatory and regulator policy purposes</li>
        <li>inform Defra of any improvements that we would like to see to the system</li>
        <li>test and develop the system</li>
        <li>report outputs from the system</li>
      </ul>

      <p class="govuk-body">
        We may share your name, address and information about waste movement with Defra and their commercial suppliers as separate controllers if this is necessary to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>enable Defra to assess quality of the data, and its usefulness for their regulatory and policy purposes</li>
        <li>enable Defra to further test and develop the system and its outputs for their regulatory and policy purposes</li>
      </ul>

      <p class="govuk-body">
        We supply GOV.UK Notify with your name, address, email address and mobile telephone number so they can send emails, letters and texts to you on our behalf.
      </p>

      <p class="govuk-body">
        We will not share or disclose your personal data with any other party without your consent unless we are required or permitted to do so by law.
      </p>

      <p class="govuk-body">
        We do not use your personal information to make an automated decision or for automated profiling.
      </p>

      <h2 class="govuk-heading-m">How long we keep your personal data</h2>

      <p class="govuk-body">
        We will keep your personal data in the Digital Waste Tracking system for 7 years from when it is uploaded unless the information:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>is used by a UK environmental regulator as a separate controller</li>
        <li>relates to waste movements ending in Northern Ireland</li>
      </ul>

      <p class="govuk-body">
        If information is used by a UK environmental regulator as a separate controller, the regulator will explain in their relevant privacy notice how long they will keep your personal data.
      </p>

      <p class="govuk-body">
        If the information is associated with waste movements ending in Northern Ireland, we will keep it for 15 years from when it is uploaded.
      </p>

      <p class="govuk-body">
        We use Defra Customer Identity for the registration and account management. The <a class="govuk-link" href="https://your-account.defra.gov.uk/management/privacy-notice">Defra Customer Identity privacy notice</a> explains how they will use your personal data when you register.
      </p>

      <p class="govuk-body">
        If you submit records using the alternative submission option (spreadsheet), we will keep a copy of the spreadsheet for 6 months.
      </p>

      <h2 class="govuk-heading-m">Where your personal information is processed and stored</h2>

      <p class="govuk-body">
        We will only transfer your personal data to another country that is deemed adequate in accordance with data protection law.
      </p>

      <h2 class="govuk-heading-m">Contact Details</h2>

      <p class="govuk-body">
        Each regulator has a separate personal information charter or privacy notice which explains:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how to contact our Data Protection Officers</li>
        <li>what we do with your personal information (personal data) in general</li>
        <li>your rights and how to complain to the Information Commissioner's Office</li>
        <li>how we process personal data for law enforcement purposes</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Environment Agency
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">Personal information charter</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Natural Resources Wales
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://naturalresources.wales/footer-links/privacy-notice/?lang=en">Natural Resources Wales / Privacy notice</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Department of Agriculture, Environment and Rural Affairs
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.daera-ni.gov.uk/articles/daera-privacy-statement">DAERA Privacy Statement | Department of Agriculture, Environment and Rural Affairs</a>
      </p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        Scottish Environment Protection Agency
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://beta.sepa.scot/about-sepa/how-we-work/privacy-notice/">Scottish Environment Protection Agency - Privacy Notice</a>
      </p>

      <h2 class="govuk-heading-m">Changes to this notice</h2>

      <p class="govuk-body">
        We may change this privacy notice. In that case, the 'last updated' date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.
      </p>

      <p class="govuk-body">
        If these changes affect how your personal data is processed, we will take reasonable steps to let you know.
      </p>
    </div>
  </div>
{% endblock %}
