{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body-l">{{ leadParagraph }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for condition in conditions %}
          <li>{{ condition }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-content govuk-!-margin-top-6 govuk-!-padding-top-2" role="complementary">
        <h2 class="govuk-heading-s">Related content</h2>
        <nav aria-label="Related content">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="https://www.gov.uk/help/privacy-notice">Privacy</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/help/cookies">Cookies</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement">Accessibility statement</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
