{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <div id="sign-out-data" class="govuk-visually-hidden" data-logout-url="{{ logoutUrl }}"></div>
      <noscript>
        <a href="{{ logoutUrl }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-testid="sign-out-fallback-link">{{ fallbackLink }}</a>
      </noscript>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('sign-out.js') }}"></script>
{% endblock %}
